<div class="container">
	<div class="row header">
		<div class="col-md-12">
			<h3 class="logo">
				<a href="/">My Assets</a>
			</h3>
			<h4>Profile</h4>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="wrapper clearfix">
				<div class="formy">
					<div class="row">
						<div class="col-md-12">
              <%= simple_form_for resource_name, url: registration_path(resource_name), as: 'user_horizontal', html: { class: 'form-vertical' },
                wrapper: :vertical_form,
                wrapper_mappings: {
                  check_boxes: :horizontal_radio_and_checkboxes,
                } do |f| %>
                <%= devise_error_messages! %>
                <%= f.input :first_name, required: false %>
                <%= f.input :last_name, required: false %>
                <%= f.input :email, placeholder: 'Email', required: false, autofocus: true %>
                <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                  <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                <% end %>
                <%= f.input :password, placeholder: 'Password', autocomplete: "off", required: false, label: raw("Password <i>(leave blank if you don't want to change it)</i>") %>
                
                <%= f.input :password_confirmation, placeholder: 'Password', autocomplete: "off", required: false %>
                
                <%= f.input :current_password, placeholder: 'Password', autocomplete: "off", required: false, label: raw("Current Password <br/><i>(we need your current password to confirm your changes)</i>") %>
                <div class="submit">
                  <%= f.button :submit, "Save my profile", class: "button-clear btn-primary" %>
                  <%#= link_to "Cancel", :back, class:  %>
                </div>
              <% end %>
              
              <!--
              <h3>Cancel my account</h3>

              <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger" %></p>

              <%= link_to "Back", :back %>
              -->
						</div>
					</div>						
				</div>
			</div>
		</div>
	</div>
</div>
