<% content_for :stats do %>
  <%= render "layouts/internal/stats" %>
<% end %>

<div class="row">
	<div class="col-sm-6 col-md-6">
		<div class="panel-stat3 bg-success">
			<h2 class="m-top-none" id="orderCount"><%= to_price current_logam_mulia_prices[1].to_i %></h2>
			<h5>Harga Beli Emas / gram</h5>
      Diperbarui: <%= current_logam_mulia_prices[2] %>.
			<!-- <i class="fa fa-arrow-circle-o-up fa-lg"></i><span class="m-left-xs">3% Higher than last week</span> -->
			<div class="stat-icon">
				<i class="fa fa-shopping-cart fa-3x"></i>
			</div>
			<div class="refresh-button">
				<i class="fa fa-refresh"></i>
			</div>
			<div class="loading-overlay">
				<i class="loading-icon fa fa-refresh fa-spin fa-lg"></i>
			</div>
		</div>
	</div><!-- /.col -->
	<div class="col-sm-6 col-md-6">
		<div class="panel-stat3 bg-warning">
			<h2 class="m-top-none" id="orderCount"><%= to_price current_logam_mulia_prices[0].to_i %></h2>
			<h5>Harga Jual Emas / gram</h5>
      Diperbarui: <%= current_logam_mulia_prices[2] %>.
			<!-- <i class="fa fa-arrow-circle-o-up fa-lg"></i><span class="m-left-xs">3% Higher than last week</span> -->
			<div class="stat-icon">
				<i class="fa fa-shopping-cart fa-3x"></i>
			</div>
			<div class="refresh-button">
				<i class="fa fa-refresh"></i>
			</div>
			<div class="loading-overlay">
				<i class="loading-icon fa fa-refresh fa-spin fa-lg"></i>
			</div>
		</div>
	</div><!-- /.col -->
</div>
<div class="row">
	<div class="col-lg-6">
		<div class="panel panel-default">
			<div class="panel-heading clearfix">
				<span class="pull-left"><i class="fa fa-bar-chart-o fa-lg"></i> Grafik Harga Emas 1 tahun</span>
				<ul class="tool-bar">
					<li><a href="#" class="refresh-widget" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Refresh"><i class="fa fa-refresh"></i></a></li>
				</ul>
			</div>
			<div class="panel-body" id="trafficWidget">
        <img border=0 src="http://goldprice.org/charts/history/gold_1_year_g_idr.png"></a><br>
			</div>
			<div class="loading-overlay">
				<i class="loading-icon fa fa-refresh fa-spin fa-lg"></i>
			</div>
		</div><!-- /panel -->
	</div><!-- /.col -->
	<div class="col-lg-6">
		<div class="panel panel-default">
			<div class="panel-heading clearfix">
				<span class="pull-left"><i class="fa fa-bar-chart-o fa-lg"></i> Grafik Harga Emas 2 tahun</span>
				<ul class="tool-bar">
					<li><a href="#" class="refresh-widget" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Refresh"><i class="fa fa-refresh"></i></a></li>
				</ul>
			</div>
			<div class="panel-body" id="trafficWidget">
        <img border=0 src="http://goldprice.org/charts/history/gold_2_year_g_idr.png"></a><br>
			</div>
			<div class="loading-overlay">
				<i class="loading-icon fa fa-refresh fa-spin fa-lg"></i>
			</div>
		</div><!-- /panel -->
	</div><!-- /.col -->
</div><!-- /.row -->
<div class="row">
	<div class="col-lg-6">
		<div class="panel panel-default">
			<div class="panel-heading clearfix">
				<span class="pull-left"><i class="fa fa-bar-chart-o fa-lg"></i> Grafik Harga Emas 5 tahun</span>
				<ul class="tool-bar">
					<li><a href="#" class="refresh-widget" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Refresh"><i class="fa fa-refresh"></i></a></li>
				</ul>
			</div>
			<div class="panel-body" id="trafficWidget">
        <img border=0 src="http://goldprice.org/charts/history/gold_5_year_g_idr.png"></a><br>
			</div>
			<div class="loading-overlay">
				<i class="loading-icon fa fa-refresh fa-spin fa-lg"></i>
			</div>
		</div><!-- /panel -->
	</div><!-- /.col -->
	<div class="col-lg-6">
		<div class="panel panel-default">
			<div class="panel-heading clearfix">
				<span class="pull-left"><i class="fa fa-bar-chart-o fa-lg"></i> Grafik Harga Emas 10 tahun</span>
				<ul class="tool-bar">
					<li><a href="#" class="refresh-widget" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Refresh"><i class="fa fa-refresh"></i></a></li>
				</ul>
			</div>
			<div class="panel-body" id="trafficWidget">
        <img border=0 src="http://goldprice.org/charts/history/gold_10_year_g_idr.png"></a><br>
			</div>
			<div class="loading-overlay">
				<i class="loading-icon fa fa-refresh fa-spin fa-lg"></i>
			</div>
		</div><!-- /panel -->
	</div><!-- /.col -->
</div><!-- /.row -->