<div id="hero">
	<div class="container">
		<h1 class="hero-text animated fadeInDown">
			The best interfaces <br />
			for your assets management.
		</h1>

		<div class="cta animated fadeInDown">
			<a href="/login" class="button-outline">Login</a>
			<a href="/sign_up" class="button">Sign up free</a>
		</div>
		<div class="img"></div>
	</div>
</div>

<div id="cta">
  <!-- <p>
    Start your free 14 day trial!
  </p> -->
	<a href="/sign_up">
		Sign up for free
	</a>
</div>

<div id="clients">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h3>Our Customers</h3>
				<p>
					These are some of our customers who have helped us by using our product.
				</p>
				<div class="logos">
          <%= image_tag "logos/google.png" %>
          <%= image_tag "logos/facebook.png" %>
          <%= image_tag "logos/apple.png" %>
          <%= image_tag "logos/stripe.png" %>
          <%= image_tag "logos/yahoo.png" %>
				</div>
			</div>
		</div>
	</div>
</div>